# ignore all logs
*.log

# ignore all pycache
__pycache__/
*.pyc

# ignore package lock
package-lock.json

# ignore node_modules
node_modules/

# ignore inits
__init__.py
0001_initial.py

# ignore the db
db.sqlite3

