# ignore all logs
*.log

# ignore all pycache
__pycache__/
*.pyc

# ignore package lock
package-lock.json

# ignore node_modules
node_modules/

# ignore the db
db.sqlite3

# ignore config and env files
.env
config.json